# Fallauswahl für den 24.&thinsp;05.&thinsp;2010

Ausgehend von den HACI-Fällen, suchen wir uns die besten heraus.

In [1]:
import numpy as np
import pandas as pd

from standard_config import *
import datetime as dt

## 1. HACI-Fälle für den 24.&thinsp;05.&thinsp;2010 laden

In [2]:
t = dt.date(2010,5,24)

In [3]:
haci_cases_20100524 = pd.read_csv("{}/HACI_bbox_data/haci-{:d}-{:02d}-{:02d}-bbox.dat".format(local_data_path,
                                                                                          t.year,t.month,t.day),
                                  sep="\s+")

In [4]:
haci_cases_20100524.head()

,date,time,id,flags,t0,t1,l00,l01,c00,c01,l0,l1,c0,c1
0,2010-05-24,00:00,5,0,0,62,440,477,803,868,344,536,674,900
1,2010-05-24,00:00,34,0,0,239,400,697,350,885,234,742,205,900
2,2010-05-24,00:05,54,0,1,2,302,303,453,454,302,303,453,454
3,2010-05-24,00:05,60,0,1,4,522,523,273,275,522,523,273,275
4,2010-05-24,00:05,62,0,1,4,526,527,267,268,526,527,267,268

## 2. HACI-Fälle Filtern

Bei den Fällen sind noch viele nichtmeteorologische Echos und Fälle dabei, die zu lange da sind und deshalb keine Konvektion sein können. Diese filtern wir schnell über einen Dauerfilter. Wir entfernen alle Fälle, die kürzer als 25&thinsp;min. und alle, die länger als vier Stunden "leben".

In [5]:
dt = haci_cases_20100524.t1 - haci_cases_20100524.t0

In [6]:
area0 = (haci_cases_20100524.l01 - haci_cases_20100524.l00) * ((haci_cases_20100524.c01 - haci_cases_20100524.c00)) 
area1 = (haci_cases_20100524.l1 - haci_cases_20100524.l0) * ((haci_cases_20100524.c1 - haci_cases_20100524.c0))
darea = area1 - area0

In [7]:
haci_cases_20100524 = haci_cases_20100524.assign(dt = dt, area0 = area0, area1 = area1, darea=darea)

In [8]:
haci_cases_20100524_filtered = haci_cases_20100524[(haci_cases_20100524.dt >= 3) & (haci_cases_20100524.dt < (60*6)/5)]

In [9]:
haci_cases_20100524_filtered

,date,time,id,flags,t0,t1,l00,l01,c00,c01,l0,l1,c0,c1,dt,area0,area1,darea
6,2010-05-24,00:05,72,0,1,25,610,611,532,533,610,612,532,534,24,1,4,3
14,2010-05-24,00:10,89,0,2,8,489,494,729,734,477,494,729,754,6,25,425,400
32,2010-05-24,00:20,149,0,4,11,492,493,318,319,492,494,315,319,7,1,8,7
43,2010-05-24,00:30,195,0,6,22,519,521,686,689,484,521,686,752,16,6,2442,2436
44,2010-05-24,00:30,196,0,6,12,522,523,274,275,522,523,273,275,6,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3149,2010-05-24,22:45,10532,0,273,280,621,622,522,523,621,622,521,523,7,1,2,1
3172,2010-05-24,23:00,10570,0,276,284,476,477,810,811,476,477,810,811,8,1,1,0
3176,2010-05-24,23:00,10576,0,276,282,591,592,499,500,591,592,499,500,6,1,1,0
3182,2010-05-24,23:05,10596,0,277,283,814,815,679,680,814,815,679,680,6,1,1,0
3203,2010-05-24,23:20,10643,0,280,285,725,726,326,327,725,726,326,327,5,1,1,0

Als nächstes filtern wir sie nach der Flächenänderung. Konvektive Zellen sollten von einer kleinen Startfläche aus wachsen.

In [10]:
haci_cases_20100524_filtered = haci_cases_20100524_filtered[(haci_cases_20100524_filtered.area0 > 0) 
                                                            & (haci_cases_20100524_filtered.area0 < 100)]

In [11]:
haci_cases_20100524_filtered

,date,time,id,flags,t0,t1,l00,l01,c00,c01,l0,l1,c0,c1,dt,area0,area1,darea
6,2010-05-24,00:05,72,0,1,25,610,611,532,533,610,612,532,534,24,1,4,3
14,2010-05-24,00:10,89,0,2,8,489,494,729,734,477,494,729,754,6,25,425,400
32,2010-05-24,00:20,149,0,4,11,492,493,318,319,492,494,315,319,7,1,8,7
43,2010-05-24,00:30,195,0,6,22,519,521,686,689,484,521,686,752,16,6,2442,2436
44,2010-05-24,00:30,196,0,6,12,522,523,274,275,522,523,273,275,6,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3149,2010-05-24,22:45,10532,0,273,280,621,622,522,523,621,622,521,523,7,1,2,1
3172,2010-05-24,23:00,10570,0,276,284,476,477,810,811,476,477,810,811,8,1,1,0
3176,2010-05-24,23:00,10576,0,276,282,591,592,499,500,591,592,499,500,6,1,1,0
3182,2010-05-24,23:05,10596,0,277,283,814,815,679,680,814,815,679,680,6,1,1,0
3203,2010-05-24,23:20,10643,0,280,285,725,726,326,327,725,726,326,327,5,1,1,0

In [12]:
haci_cases_20100524_filtered = haci_cases_20100524_filtered[(haci_cases_20100524_filtered.darea > 100) & 
                                                            (haci_cases_20100524_filtered.darea < 5000)]

In [13]:
len(haci_cases_20100524_filtered.dt)

48

In [15]:
haci_cases_20100524_filtered.to_csv("{}/2019-09_bell/haci_cases_20100524_filtered.csv".format(proj_path),index=False)